* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

::-moz-selection {
  color: #fff;
  background: #FD9872;
}

::selection {
  color: #fff;
  background: #FD9872;
}

.hero {
    min-height: 100vh;
    background: url(./assets/images/hero/mobile/mobile-leaves.png) no-repeat center -220px, url(./assets/images/hero/mobile/mobile-plantperson.png) no-repeat bottom center;
    background-size: cover, calc(100% + 26px); /* 22px padding-horizontal */
    background-color: #75BC97 !important;
    background-origin: padding-box, content-box;
    padding: 35px 35px 22px 35px;
}

.hero .hero-logo a {
    display: block;
    width: 209px;
    height: 25px;
    background: url(./assets/images/icons/logo-white.svg) no-repeat left top;
}

.hero-logo a > span {
    display: none;
}

.hero .hero-title {
    font-size: 40px;
    font-weight: bold;
    line-height: 49px;
    color: #fff;
    margin-top: 32px;
    margin-bottom: 16px;
}

.filter {
  padding: 18px 35px 38px;
}

.filter .filter-list {
  display: grid;
  gap: 50px;
  list-style: none;
}

.filter-list-item > img {
  height: 75px;
  object-fit: contain;
  margin-bottom: 15px;
}

.filter-list-item:nth-child(2) > img {
  transform: scaleX(-1);
}

.filter-list-item > p {
  font-size: 14px;
  line-height: 22px;
  color: #797979;
  margin-bottom: 30px;
}

/* https://andrejgajdos.com/custom-select-dropdown/ */

.select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
  height: 40px;
}

.select-wrapper .select {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border: 1px solid #A8A8A8;
  border-radius: 20px;

}

.select-trigger {
  position: relative;
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
  color: #A8A8A8;
  /* background: url(./assets/images/icons/dropdown-icon-down.svg) no-repeat right; */
  /* background-origin: content-box; */

  padding: 6px 20px;
  cursor: pointer;
}

.select-trigger::after {
  content: "";
  width: 20px;
  height: 10px;
  background: url(./assets/images/icons/dropdown-icon-down.svg) no-repeat right;
  background-origin: content-box;

  transition: .2s;
}

.select-wrapper .options {
  top: 100%;
  left: 0;
  right: 0;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #fff;
  opacity: 0;
  height: 0;
  visibility: hidden;
  transition: all 0.5s;
  pointer-events: none;
  overflow: hidden;
  z-index: 2;
}

.select-wrapper .select.open .select-trigger::after {
  transform: rotate(180deg);
}

.select-wrapper .select.open .options {
  opacity: 1;
  height: fit-content;
  visibility: visible;
  pointer-events: all;
}

.select-wrapper .options .option:nth-child(1) {
  border-top: 1px solid #A8A8A8;
}

.select-wrapper .option {
  position: relative;
  display: block;
  height: 40px;
  width: 100%;

  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  color: #A8A8A8;

  padding: 0 20px;
  cursor: pointer;
}

.select-wrapper .options .option:hover {
  color: #fff;
  background: #75BC97;
  cursor: pointer;
}

.select-wrapper .options .option.selected {
  color: #fff;
  background: #15573F;
}

.filter-list-item > select {
  width: 100%;
  height: 40px;

  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  color: #A8A8A8;

  background-color: #fff;
  border: 1px solid #A8A8A8;
  border-radius: 20px;
  padding: 6px 20px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(./assets/images/icons/dropdown-icon-down.svg) no-repeat right;
  background-origin: content-box;
}

.results {
  background: #F2F2F2;
  padding: 47px 35px 30px;
}

.no-result .no-result-title {
  font-size: 45px;
  font-weight: bold;
  line-height: 55px;
  color: #A9A9A9;
  margin-bottom: 16px;
}

.no-result .no-result-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #A9A9A9;
  margin-bottom: 37px;
}

.no-result .no-result-icon {
  display: block;
  margin: auto;
}

.result .result-icon {
  height: 72px;
  object-fit: contain;
  margin-bottom: 16px;
}

.result .result-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 49px;
  color: #0C261C;
  margin-bottom: 16px;
}

.result .result-container {
  position: relative;
  width: 100vw;
  height: 352px;
  margin-left: 50%;
  transform: translateX(-50%);
  overflow: auto;
}

.result-horizontal-scroll {
  position: absolute;
  display: flex;
}

.result-horizontal-scroll::before {
  content: "";
  margin-left: 35px;
}

.result-horizontal-scroll::after {
  content: "";
  margin-right: 35px;
}

.result-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 320px;
  background: #fff;
  border-radius: 5px;
  padding: 15px 20px;
  margin-right: 16px;
}

.result-card.staff-favorite::after  {
  content: '✨ Staff favorite';
  position: absolute;
  top: 20px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 35px;
  width: 130px;
  font-size: 12.8px;
  line-height: 15px;
  color: #fff;
  background: #75BC97;
  border-top-right-radius: 17.5px;
  border-bottom-right-radius: 17.5px;
  padding-right: 15px;
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.181163);
}

.result-card:last-of-type {
  margin-right: 0;
}

.result-card .result-image {
  width: 100%;
    height: calc(100% - 60px);
  object-fit: contain;
}

.result-card-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  color: #1E6B4E;
}

.result-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.result-card-content > p {
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  color: #257556
}

.result-card-icons {
  display: flex;
  align-items: center;
}

.result-card-icons .card-icon {
  background-size: contain;
  height: 20px;
  width: 25px;
  margin-right: 6px;
}

.icon-toxicity-true {
  background: url(./assets/images/icons/toxic.svg) no-repeat center;
}

.icon-toxicity-false {
  background: url(./assets/images/icons/pet.svg) no-repeat center;
}

.icon-sun-no {
  background: url(./assets/images/icons/no-sun.svg) no-repeat center;
}

.icon-sun-low {
  background: url(./assets/images/icons/low-sun.svg) no-repeat center;
}

.icon-sun-high {
  background: url(./assets/images/icons/low-sun.svg) no-repeat center;
}

.icon-water-rarely {
  background: url(./assets/images/icons/1-drop.svg) no-repeat center;
}

.icon-water-regularly {
  background: url(./assets/images/icons/2-drops.svg) no-repeat center;
}

.icon-water-daily {
  background: url(./assets/images/icons/3-drops.svg) no-repeat center;
}

.result-card-icons .card-icon:last-of-type {
  margin: 0;
}

.scroll-to-top-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: #196146;
  border: 1px solid #15573F;
  border-radius: 25px;
  cursor: pointer;
  transition: all .2s;
}

.scroll-to-top-button:hover {
  color: #fff;
  background: #15573F;
}

.scroll-to-top-button > img {
  margin-right: 16px;
  transition: all .2s;
}

.scroll-to-top-button:hover > img {
  filter: brightness(0) invert(1);
}

@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .hero {
    background-position: center -420px, bottom center;
  }
}

@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
  .container {
    width: 80%;
    max-width: 1280px;
    margin: auto;
  }

  .hero {
    position: relative;
    height: 500px;
    min-height: unset;
    background: url(./assets/images/hero/desktop/plantperson.png) no-repeat 65% center;
    background-size: contain;
    background-origin: content-box;
    z-index: 1;
    padding: 35px 0 22px;
  }

  .hero-content {
    position: relative;
    z-index: 9;
  }

  .hero::before, .hero::after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    background-size: cover;
    z-index: 2;
  }

  .hero::before {
    width: 45%;
    left: 0;
    background: url(./assets/images/hero/desktop/left-leaves.png) no-repeat right center;
    background-size: cover;
  }

  .hero::after {
    width: 25%;
    right: 0;
    background: url(./assets/images/hero/desktop/right-leaves.png) no-repeat left center;
    background-size: cover;
  }

  .hero .hero-title {
    font-size: 70px;
    font-weight: bold;
    line-height: 85px;
    color: #fff;
    margin-top: 42px;
    margin-bottom: 31px;
  }

  .filter {
    padding: 55px 0;
  }

  .filter .filter-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    align-items: center;
    justify-content: center;
  }

  .filter-list-item > p {
    max-width: 220px;
  }

  .select-wrapper {
    max-width: 220px;
  }

  .filter-list-item > select {
    max-width: 220px;
  }

  .results {
    padding: 52px 0 65px;
  }

  .no-result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .no-result-text {
    max-width: 220px;
  }

  .result .result-icon {
    height: 78px;
    margin-bottom: 20px;
  }

  .result .result-title {
    font-size: 55px;
    font-weight: bold;
    line-height: 67px;
    margin-bottom: 54px;
  }

  .result .result-title > br {
    display: none;
  }

  .result .result-container {
    position: unset;
    width: auto;
    height: auto;
    margin: unset;
    transform: unset;
    margin-bottom: 60px;
  }

  .result-horizontal-scroll {
    position: unset;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 245px;
    gap: 20px 25px;
    overflow: hidden;
  }

  .result-horizontal-scroll::before, .result-horizontal-scroll::after {
    display: none;
  }

  .result-card.staff-favorite {
    grid-row: 1 / span 2;
    grid-column: span 2;
    padding: 28px;
  }

  .result-card.staff-favorite::after {
    top: 35px;
    width: 190px;
    height: 45px;
    font-size: 18px;
    line-height: 21px;
    border-top-right-radius: 22.5px;
    border-bottom-right-radius: 22.5px;
    padding-right: 25px;
  }

  .result-card {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border-radius: 5px;
    margin: 0px
  }

  .result-card .result-image {
    width: 100%;
    max-height: calc(100% - 60px);
    object-fit: contain;
  }

  .result-card.staff-favorite .result-card-infos {
    display: flex;
    justify-content: space-between;
  }

  .result-card.staff-favorite .result-card-title {
    max-width: 190px;
    font-size: 35px;
    line-height: 37px;
  }

  .result-card.staff-favorite .result-card-content {
    flex-direction: column;
    align-items: flex-end;
  }

  .result-card.staff-favorite .result-card-content > p {
    font-size: 24px;
    line-height: 28px;
  }

  .result-card.staff-favorite .result-card-icons > img {
    height: 25px;
  }
}
